.App {
  text-align: center;
}
/* HOME */


.home-container{
  background-image: url("./asses/oficina1.jpeg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.presentation-container{
  position: absolute;
  padding: 10px;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: rgba(0, 0, 255, 0.5);
  left: 400px;
  top: 100px;
  font-family: 'Pacifico', cursive;
  color: white;
}
.container-home-presentation{
  display: flex;
  flex-direction: row;
}

.fromme-container{
  position: absolute;
  top: 100px;
  
  padding: 10px;
  left: 400px;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: rgba(0, 0, 255, 0.5);
 
  font-family: 'Pacifico', cursive;
}

.name{
  margin-top: 100px;
}

h1{
  color: white;  
  font-family: 'Lobster', cursive;
}

h2{
  color: #b8860b;
  font-family: 'Lobster', cursive;
  text-decoration: underline;
}

p{
  color: rgb(1, 1, 49);
  font-family: 'Open Sans', sans-serif;
}

.container-img-presentation{
 position: absolute;
 width: 300px;
 height: 300px;
 left: 900px;
 top: 200px;
 border-radius: 50%;
background-image: url('./asses/icons/me.jpg');
background-size: 100% 100%;
background-repeat: no-repeat;
}

/* barra de navgacion */

.barnav{
  display: flex;
  flex-direction: row;
  background-color: black;
  height: 50px;
  width: 100vw;
}
.container-theraweb{
  margin-top: -25px;
  width: 400px;
}

.container-icons-barnav{
  margin-left: 900px;
  margin-top: 25px;
  width: 700px;
}

.img-barnav-btn{
margin-left: 0px;
background-color: rgba(0 0 0 0.5);
width: 80px;
height: 25px;
}

.img-barnav-btn:hover{
  background-color: blanchedalmond;
  cursor: pointer;
}

.img-barnav{
  width: 20px;
  height: 20px;
}

/* proyects */

.proyects-items-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.proyect-item {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
  width: 300px;
  height: 100px;
  margin-left: calc(50% - 150px);
  background-color: rgba(0, 0, 255, 0.5);
 
}
/* 
.img-proyect{
  max-width: 100%;
  width: 120px;
  height: 120px;
  visibility: hidden;
  margin-top: 10px;
  width: 300px;
  height: 100px;

  border: 1px solid #ddd;

}

.img-proyect:hover {
  max-width: 100%;
  width: 40px;
  height: 40px;
  visibility: visible;
  position: inherit;
  margin-top: 10px;
  
  border: 1px solid #ddd;
  cursor: pointer;
} */
.img-proyect {
  max-width: 100%;
  width: 300px;
  height: 100px;
  margin-top: -125px;
  margin-left: -300px; /* Cambiado para empezar fuera del contenedor a la izquierda */
  position: absolute;
  border: 1px solid #ddd;
  visibility: hidden;
  transition: margin-left 0.5s ease-in-out, visibility 0.3s ease-in-out; /* Agregada transición para margin-left */
}

.proyect-item:hover .proyect-title-and-description {
  visibility: hidden;
}

.proyect-item:hover .img-proyect {
  visibility: visible;
  margin-left: -150px; /* Cambiado para terminar en la posición original */
}

.proyect-title-and-description {
  width: 300px;
  height: 100px;
  visibility: visible;
}

.proyect-title-and-description:hover {
  visibility: hidden;
}

.proyects-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#proyecto1img {
  padding-top: 3px;
  cursor: pointer; /* Hace que el cursor cambie al puntero al pasar sobre la imagen */
}
.description-container{
  width: 200px;
  margin-left: calc(50% - 100px);
  border: 1px solid #ffd700;
  
}

.description-proyects{
  border: 1px solid #ffd700;
  position: fixed;
  left: 600px;
  top: 300px;
  width: 300px;
  height: auto;
  background-color: rgba(0, 0, 255, 0.5);
  border-radius: 10px;
}

.container-inter-desciption{
  /* background-color: black; */
}

.fullstack-container{
  
  background-color: rgba(0, 0, 255, 0.5);
  border-radius: 50%;
  position: absolute;
  left: -350px;
  top: 100px;
  width: 300px;
  height: auto;
}



/* TECNOLOGIES PRESENTATION */

.container-tecnologies{
  display: flex;
  flex-direction: row;
  gap: 300px;
  margin-left: -200px;
  width: 800px;
  margin-top: 100px;
}

.container-tecnologies-frontend{
width: 500px;
display: flex;
flex-direction: row;
}

.container-tecnologies-backend{
width: 500px;
display: flex;
flex-direction: row;
}
.item-tecnologies{
  margin-left: 10px;
}
.container-tecnologies-and-title{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.img-item-tecnologies{
  width: 100px;
  height: 100px;
}

#title-backend{
margin-left: -150px;
}

#title-frontend{
  margin-left: -20px;
}


/* BOTONES */

.btn-general{
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  width: 100px;
  height: 20px;
  color: white;
}

.btn-general:hover{
  background-color: #00008B;
  color: #ffd700;
  cursor: pointer;
}

.open-proyect{
  color: white;
}

.open-proyect:hover{
  color: #ffd700;
}

/* experience seccion */

.experience-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.introduction {
  text-align: center;
  max-width: 800px;
  margin-bottom: 20px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.project-item {
  
  background-color: rgba(0, 0, 255, 0.5);
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.project-item h3 {
  margin-bottom: 10px;
  color: #333;
}

.project-item p {
  color: #666;
}

/* contact */

.contact-container{
  width: 400px;
  height: 300px;
  margin-left: calc(50% - 200px);
  border-radius: 50%;
  margin-top: 200px;
  background-color: rgba(0, 0, 255, 0.5);
  padding-top:20px;
}


.answer-contact{
  margin-top: 20px;
}

.img-contact{
width: 50px;
height: 50px;

margin-left: 40px;
}


.img-contactI{
width: 100px;
height: 100px;
margin-left: 0px;
}
.contact-card{
  display: flex;
  flex-direction: row;
  margin-left: calc(50% - 170px);
  width: 300px;
}

.container-doingclick{
margin-top: 50px;

}
#angular-proyects-container{
  margin-top: 275px;
}

.img-logo{
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: solid 1px white;
  position: absolute;
  left: 1500px;
  top: 0px;
}
.img-barnav {
  text-align: right;
}

@media(max-width: 319px){
  html, body{
    display: none;
  }
}

@media(min-width: 320px){
  #angular-proyects-container{
    margin-top: 400px;
  }
  

  .container-tecnologies-backend {
    width: 300px;
    display: flex;
    flex-direction: row;
    margin-left: -100px;
}


  /*  */
  .home-container {
    background-size: 100% 100%;
    background-repeat: no-repeat;
     width: 325vw;
    height: 300vh;
}

.barnav {
  display: flex;
  flex-direction: row;
  background-color: black;
  height: 75px;
  width: 325vw;
}

.container-icons-barnav {
  left: -90px;
  top: 50px;
  width: 100px;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 2;
}

.img-barnav-btn {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px; /* Agregar bordes redondeados */
  color: white; /* Color del texto */
  height: 35px;
  margin-left: 0;
  width: 130px;
  border: none; /* Eliminar bordes */
  cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
  transition: background-color 0.3s ease; /* Efecto de transición suave */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Efecto de sombra */
}

/* Cambiar el color del botón al pasar el mouse */
.img-barnav-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.img-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 1px white;
  position: absolute;
  left: 800px;
  top: 0px;
  z-index: 5;
}
.img-barnav-btn {
  margin-left: -25px;
  background-color: rgba(0 0 0 0.5);
  width: 120px;
  height: 25px;
  padding: 2.5px;
}



.presentation-container {
  position: absolute;
  padding: 10px;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background-color: rgba(0, 0, 255, 0.5);
  left: 250px;
  top: 100px;
  font-family: 'Pacifico', cursive;
  color: white;
}

.container-img-presentation {
  position: absolute;
  width: 500px;
  height: 500px;
  left: 300px;
  top: 900px;
  border-radius: 50%;
  /* background-image: url(http://localhost:3000/static/media/me.e1fc2b8….jpg); */
  background-size: 100% 100%;
  background-repeat: no-repeat;
 
}

.name {
  margin-top: 200px;
  font-size: 30px;
}

.container-tecnologies {
  display: flex;
  flex-direction: row;
  gap: 150px;
  margin-left: -400px;
  width: 800px;
  margin-top: 100px;
}

.description-proyects {
  border: 1px solid #ffd700;
  position: fixed;
  left: 400px;
  top: 800px;
  width: 300px;
  height: auto;
  background-color: rgba(0, 0, 255, 0.5);
  border-radius: 10px;
}

.contact-container {
  width: 600px;
  height: 500px;
  margin-left: calc(50% - 200px);
  border-radius: 50%;
  margin-top: 200px;
  background-color: rgba(0, 0, 255, 0.5);
  padding-top: 20px;
}
.answer-contact {
  margin-top: 120px;
  
}

.img-contact {
  width: 80px;
  height: 80px;
  margin-left: 60px;
}

.contact-card {
  display: flex;
  flex-direction: row;
  margin-left: calc(50% - 245px);
  width: 300px;
}

.img-logo {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: solid 1px white;
  position: absolute;
  left: 800px;
  top: 0px;
}

}

@media(min-width: 460px){

  .presentation-container {
    position: absolute;
    padding: 10px;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background-color: rgba(0, 0, 255, 0.5);
    left: 400px;
    top: 100px;
    font-family: 'Pacifico', cursive;
    color: white;
}


.container-img-presentation {
  position: absolute;
  width: 500px;
  height: 500px;
  left: 450px;
  top: 900px;
  border-radius: 50%;
  /* background-image: url(http://localhost:3000/static/media/me.e1fc2b8….jpg); */
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.container-icons-barnav {
  left: 130px;
  top: 50px;
  width: 250px;
  position: absolute;
}

.img-barnav-btn {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px; /* Agregar bordes redondeados */
  color: white; /* Color del texto */
  height: 35px;
  margin-left: 0;
  width: 130px;
  border: none; /* Eliminar bordes */
  cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
  transition: background-color 0.3s ease; /* Efecto de transición suave */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Efecto de sombra */
}

/* Cambiar el color del botón al pasar el mouse */
.img-barnav-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}


.img-barnav-btn {
  margin-left: 0px;
  background-color: rgba(0 0 0 0.5);
  width: 130px;
  height: 35px;
}

.description-proyects {
  border: 1px solid #ffd700;
  position: fixed;
  left: 600px;
  top: 800px;
  width: 300px;
  height: auto;
  background-color: rgba(0, 0, 255, 0.5);
  border-radius: 10px;
}


#thera-web{
  font-size: 40px;
  margin-left: -75px;
}

.img-logo {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: solid 1px white;
  position: absolute;
  left: 1050px;
  top: 0px;
}


}

@media(min-width: 580px){
  #angular-proyects-container{
    margin-top: 300px;
  }
  
  /*  */
  .img-barnav-btn {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px; /* Agregar bordes redondeados */
    color: white; /* Color del texto */
    height: 35px;
    margin-left: 0;
    width: 130px;
    border: none; /* Eliminar bordes */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
    transition: background-color 0.3s ease; /* Efecto de transición suave */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Efecto de sombra */
  }
  
  /* Cambiar el color del botón al pasar el mouse */
  .img-barnav-btn:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }

  .home-container {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 198vh;
}

.barnav {
  display: flex;
  flex-direction: row;
  background-color: black;
  height: 75px;
  width: 100vw;
}

.presentation-container {
  position: absolute;
  padding: 10px;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: rgba(0, 0, 255, 0.5);
  left: 100px;
  top: 150px;
  font-family: 'Pacifico', cursive;
  color: white;
}

.container-img-presentation {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 200px;
  top: 825px;
  border-radius: 50%;
  /* background-image: url(http://localhost:3000/static/media/me.e1fc2b8….jpg); */
  background-size: 100% 100%;
  background-repeat: no-repeat;
}


#thera-web {
  font-size: 30px;
  margin-left: -5px;
  margin-top: -2.5px;
}

.container-icons-barnav {
  margin-left: 300px;
  margin-top: 25px;
  width: auto;
  position: absolute;
}


.img-barnav-btn {
  margin-left: 0px;
  background-color: rgba(0 0 0 0.5);
  width: 120px;
  height: 25px;
}



.name {
  margin-top: 100px;
  font-size: 30px;
}


.proyect-item {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
  width: 225px;
  height: 100px;
  margin-left: calc(50% - 132.5px);
  background-color: rgba(0, 0, 255, 0.5);
}

.proyect-title-and-description {
  width: 300px;
  height: 100px;
  visibility: visible;
  margin-left: calc(50% - 150px);
}

.img-proyect {
  max-width: 100%;
  width: 225px;
  height: 100px;
  margin-top: -125px;
  margin-left: -300px;
  position: absolute;
  border: 1px solid #ddd;
  visibility: hidden;
  transition: margin-left 0.5s ease-in-out, visibility 0.3s ease-in-out;
}


.img-proyect {
  max-width: 100%;
  width: 225px;
  height: 100px;
  margin-top: -125px;
  margin-left: -300px; /* Cambiado para empezar fuera del contenedor a la izquierda */
  position: absolute;
  border: 1px solid #ddd;
  visibility: hidden;
  transition: margin-left 0.5s ease-in-out, visibility 0.3s ease-in-out; /* Agregada transición para margin-left */
}

.proyect-item:hover .proyect-title-and-description {
  visibility: hidden;
}

.proyect-item:hover .img-proyect {
  visibility: visible;
  margin-left: -100px; /* Cambiado para terminar en la posición original */
}


.contact-container {
  width: 400px;
  height: 400px;
  margin-left: calc(50% - 200px);
  border-radius: 50%;
  margin-top: 200px;
  background-color: rgba(0, 0, 255, 0.5);
  padding-top: 20px;
}

.fromme-container {
  position: absolute;
  top: 100px;
  padding: 10px;
  left: 100px;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: rgba(0, 0, 255, 0.5);
  font-family: 'Pacifico', cursive;
}

.fullstack-container {
  background-color: rgba(0, 0, 255, 0.5);
  border-radius: 50%;
  position: absolute;
  left: 50px;
  top: 425px;
  width: 300px;
  height: auto;
}
.container-tecnologies-backend {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-top: 150px;
  position: absolute;
}

body, html{
  width: 100vw;
  background-color: black;
}

#title-frontend {
  margin-left: 335px;
}

#title-backend {
  left: 515px;
  top: 550px;
  position: absolute;
  
  

}

.container-tecnologies-frontend {
  width: auto;
  display: flex;
  flex-direction: column;
  margin-left: 325px;
}

#thera-web {
  font-size: 30px;
  margin-left: -5px;
  margin-top: 50px;
}

.description-proyects{
  border: 1px solid #ffd700;
  position: absolute;
  left: 150px;
  top: 700px;
  width: 300px;
  height: auto;
  background-color: rgba(0, 0, 255, 0.5);
  border-radius: 10px;
}

.img-logo {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: solid 1px white;
  position: absolute;
  left: 450px;
  top: 0px;
}

}
@media(min-width: 720px){


  .container-icons-barnav {
    margin-left: 450px;
    margin-top: 25px;
    width: auto;
    position: absolute;
}


  .img-logo {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: solid 1px white;
    position: absolute;
    left: 600px;
    top: 0px;
}

.fromme-container {
  position: absolute;
  top: 100px;
  padding: 10px;
  left: 150px;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: rgba(0, 0, 255, 0.5);
  font-family: 'Pacifico', cursive;
}

.container-img-presentation {
  position: absolute;
  width: 250px;
  height: 250px;
  left: 225px;
  top: 825px;
  border-radius: 50%;
  /* background-image: url(http://localhost:3000/static/media/me.e1fc2b8….jpg); */
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.presentation-container {
  position: absolute;
  padding: 10px;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: rgba(0, 0, 255, 0.5);
  left: 150px;
  top: 100px;
  font-family: 'Pacifico', cursive;
  color: white;
}

.home-container {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100vw;
  height: 200vh;
}

.description-proyects {
  border: 1px solid #ffd700;
  position: absolute;
  left: 200px;
  top: 700px;
  width: 300px;
  height: auto;
  background-color: rgba(0, 0, 255, 0.5);
  border-radius: 10px;
}

.img-barnav-btn {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px; /* Agregar bordes redondeados */
  color: white; /* Color del texto */
  height: 35px;
  margin-left: 0;
  width: 130px;
  border: none; /* Eliminar bordes */
  cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
  transition: background-color 0.3s ease; /* Efecto de transición suave */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Efecto de sombra */
}

/* Cambiar el color del botón al pasar el mouse */
.img-barnav-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

}

@media(min-width: 900px){
  .img-logo {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: solid 1px white;
    position: absolute;
    left: 770px;
    top: 0px;
}

.container-icons-barnav {
  margin-left: 615px;
  margin-top: 25px;
  width: auto;
  position: absolute;
}
.item-tecnologies {
  margin-left: 10px;
width: 200px;
}


  .home-container {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 200vh;
}

.presentation-container {
  position: absolute;
  padding: 10px;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: rgba(0, 0, 255, 0.5);
  left: 225px;
  top: 100px;
  font-family: 'Pacifico', cursive;
  color: white;
}

.container-img-presentation {
  position: absolute;
  width: 250px;
  height: 250px;
  left: 300px;
  top: 825px;
  border-radius: 50%;
  /* background-image: url(http://localhost:3000/static/media/me.e1fc2b8….jpg); */
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.fromme-container {
  position: absolute;
  top: 100px;
  padding: 10px;
  left: 225px;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: rgba(0, 0, 255, 0.5);
  font-family: 'Pacifico', cursive;
}



.description-proyects {
  border: 1px solid #ffd700;
  position: absolute;
  left: 300px;
  top: 700px;
  width: 300px;
  height: auto;
  background-color: rgba(0, 0, 255, 0.5);
  border-radius: 10px;
}
.img-barnav-btn {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px; /* Agregar bordes redondeados */
  color: white; /* Color del texto */
  height: 35px;
  margin-left: 0;
  width: 130px;
  border: none; /* Eliminar bordes */
  cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
  transition: background-color 0.3s ease; /* Efecto de transición suave */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Efecto de sombra */
}

/* Cambiar el color del botón al pasar el mouse */
.img-barnav-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.container-tecnologies-backend {
  width: 200px;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-top: 150px;
  position: absolute;
}

.container-tecnologies-frontend {
  width: auto;
  display: flex;
  flex-direction: column;
  margin-left: 265px;
}

#title-frontend {
  margin-left: 295px;
}



}

@media(min-width: 1280px){
  .img-logo {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: solid 1px white;
    position: absolute;
    left: 1150px;
    top: 0px;
}
  .home-container {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 300vh;
}

.img-barnav-btn {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px; /* Agregar bordes redondeados */
  color: white; /* Color del texto */
  height: 35px;
  margin-left: 0;
  width: 130px;
  border: none; /* Eliminar bordes */
  cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
  transition: background-color 0.3s ease; /* Efecto de transición suave */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Efecto de sombra */
}

/* Cambiar el color del botón al pasar el mouse */
.img-barnav-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}


.fromme-container {
  position: absolute;
  top: 100px;
  padding: 10px;
  padding-top: 100px;
  left: 325px;
  width: 600px;
  height: 500px;
  border-radius: 50%;
  background-color: rgba(0, 0, 255, 0.5);
  font-family: 'Pacifico', cursive;
}

.container-img-presentation {
  position: absolute;
  width: 350px;
  height: 350px;
  left: 450px;
  top: 1200px;
  border-radius: 50%;
  /* background-image: url(http://localhost:3000/static/media/me.e1fc2b8….jpg); */
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.fullstack-container {
  background-color: rgba(0, 0, 255, 0.5);
  border-radius: 50%;
  position: absolute;
  left: 150px;
  top: 700px;
  width: 300px;
  height: auto;
}

.container-tecnologies-frontend {
  width: 500px;
  display: flex;
  flex-direction: column;
  margin-left: 350px;
  margin-top: 550px;
}

.container-tecnologies-backend {
  width: 500px;
  display: flex;
  flex-direction: column;
  margin-left: -175px;
  margin-top: 600px;
  position: absolute;
}

#title-frontend {
  margin-left: 425px;
  top: 950px;
  position: absolute;
}

#title-backend {
  left: 650px;
  top: 950px;
  position: absolute;
}

.description-proyects {
  border: 1px solid #ffd700;
  position: absolute;
  left: 490px;
  top: 700px;
  width: 300px;
  height: auto;
  background-color: rgba(0, 0, 255, 0.5);
  border-radius: 10px;
}

.contact-container {
  width: 600px;
  height: 600px;
  margin-left: calc(50% - 300px);
  border-radius: 50%;
  margin-top: 200px;
  background-color: rgba(0, 0, 255, 0.5);
  padding-top: 20px;
}

.img-contactI {
  width: 150px;
  height: 150px;
  margin-left: 0px;
}

.contact-card {
  display: flex;
  flex-direction: row;
  margin-left: calc(50% - 265px);
  width: 300px;
}

.container-doingclick {
  margin-top: 100px;
}

.container-icons-barnav {
  margin-left: 1000px;
  margin-top: 25px;
  width: auto;
  position: absolute;
}

}

@media(min-width: 1400px){
  .home-container {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 300vh;
}

.presentation-container {
  position: absolute;
  padding: 10px;
  padding-top: 100px;
  width: 600px;
  height: 500px;
  border-radius: 50%;
  background-color: rgba(0, 0, 255, 0.5);
  left: 425px;
  top: 100px;
  font-family: 'Pacifico', cursive;
  color: white;
}


.fromme-container {
  position: absolute;
  top: 100px;
  padding: 10px;
  padding-top: 100px;
  left: 425px;
  width: 600px;
  height: 500px;
  border-radius: 50%;
  background-color: rgba(0, 0, 255, 0.5);
  font-family: 'Pacifico', cursive;
}

.container-img-presentation {
  position: absolute;
  width: 350px;
  height: 350px;
  left: 550px;
  top: 1200px;
  border-radius: 50%;
  /* background-image: url(http://localhost:3000/static/media/me.e1fc2b8….jpg); */
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.container-icons-barnav {
  left: 100px;
  top: 50px;
  width: auto;
  display: flex;
  flex-direction: column;
  position: absolute;
}
.img-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 1px white;
  position: absolute;
  left: 1125px;
  top: 0px;
  padding: 5px;
}
.img-logo:hover{
  background-color: white;
  padding: 10px;
}

.description-proyects {
  border: 1px solid #ffd700;
  position: absolute;
  left: 600px;
  top: 700px;
  width: 300px;
  height: auto;
  background-color: rgba(0, 0, 255, 0.5);
  border-radius: 10px;
}

.home-container {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100vw;
  height: 230vh;
}




#thera-web{
  margin-top: 50px;
}
.text-buttons{
  padding: 2.5px;
  margin-left: 5px;
  text-align: right;
}
.img-barnav{
  text-align: left;
  /* padding: 2.5px; */
}

.img-barnav-btn {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px; /* Agregar bordes redondeados */
  color: white; /* Color del texto */
  height: 35px;
  margin-left: 0;
  width: 130px;
  border: none; /* Eliminar bordes */
  cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
  transition: background-color 0.3s ease; /* Efecto de transición suave */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Efecto de sombra */
}

/* Cambiar el color del botón al pasar el mouse */
.img-barnav-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

}







